*{
    @include reset-pm();
    box-sizing: border-box;
}

body.gato {
    background-image: linear-gradient(275deg, #86bec4 0, #5ca6b1 25%, #08879a 50%, #006985 75%, #005276 100%);
    
}

.container3 {
    background-color: white;
    margin: 80px auto;
    width: 1700px;
    padding: 50px;
    border-radius: 7px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 1.0);

    background-image: linear-gradient(270deg, #f8e8a2 0, #c6b863 50%, #948a22 100%);
    background-size: 100% 100%;
}

.michis {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    grid-gap: 80px;
    margin: 40px;
    margin-right: 80px;
    
}

.card {
    border: 3px solid black; 
    border-radius: 7px;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
    cursor: pointer;
    transition: all 400ms ease;
    color: rgb(10, 3, 3);
    font-family: 'Courier New', Courier, monospace;
    width: 400px;
    height: 500px;
}

.card:hover {
    box-shadow: 20px 20px 20px rgba(47, 24, 59, 0.66);
    transform: translateY(-5%);
}

.card-body:hover {
    background-color: rgb(117, 199, 199);
    color: #fff;
}
/* -- Pagina gatos mediaquery --*/


@media (min-width: 2000px) and (max-width: 5000px) {
    .container3 {
        width: 80%;
    }
    
    .michis {
        width: 90%;
        
    }
    
    main h2.gatotitulo {
        margin-bottom: 80px;
        font-size: size(4);
        text-align: center;
    }

    .card {
        width: 400px;
        height: 480px;
    }
}

@media (max-width: 2000px){
    .container3 {
        width: 80%;
    }
    h1 ul li a {
        width: 80%;
    }
    h2 h3 p {
        width: 80%;
    }
    .michis {
        width: 90%;
        margin: 10px;
    }
    
    main h2.gatotitulo {
        margin-bottom: 80px;
        font-size: size(4);
        text-align: center;
    }

    .card {
        width: 300px;
        height: 380px;
    }

}

@media (max-width: 1199px) {
    .container3 {
        width: 90%;
    }
    h1 ul li a {
        width: 80%;
    }
    h2 h3 p {
        width: 80%;
    }
    .michis {
        width: 90%;
        margin: 10px;
    }
    .card {
        width: 250px;
        height: 310px;
    }
    .card-title {
        font-size: size(3);
    }
    .card-text {
        font-size: size(2);
    }
    main h2.gatotitulo {
        font-size: size(3);
        text-align: center;
    }

}
    
    
@media (max-width: 991.98px) {
    .container3 {
        width: 90%;
    }
    
    .michis {
        width: 90%;
        margin: 10px;
    }
    
    .card-title {
        font-size: size(3);
    }
    .card-text {
        font-size: size(2);
    }
    main h2.gatotitulo {
        font-size: size(3);
        text-align: center;
    }
    .card {
        width: 220px;
        height: 320px;
    }
}

@media (max-width: 767.98px) {
    .container3 {
        width: 90%;
    }
    h1 ul li a {
        width: 60%;
    }
    h2 h3 p {
        width: 80%;
    }
    .michis {
        width: 90%;
        margin: 10px;
    }
    .card {
        width: 180px;
        height: 300px;
    }
    .card-title {
        font-size: size(3);
    }
    .card-text {
        font-size: size(2);
    }
    main {
        margin-bottom: 100px;

        & h2.gatotitulo {
        font-size: size(3);
        text-align: center;
        }
    }
}

@media (max-width: 575.98px) {
    .container3 {
        width: 80%;
    }
    nav ul li a {
        width: 90%;
        font-size: size(1);
        text-align: justify;
    }
    h2 h3 p {
        width: 80%;
    }
    .michis {
        width: 100%;
        margin: 10px;
    }
    .card {
        width: 200px;
        height: 210px;
    }
    .card-title {
        font-size: size(2);
    }
    .card-text {
        font-size: size(1);
    }
    main {
        margin-bottom: 100px;

        & h2.gatotitulo {
        font-size: size(2);
        text-align: center;
        }
    }
    
    footer {
        width: 90%;

        &.footgat.piegat {
        width: 100%;
        font-size: size(2);
        }
    }
    
    
}